<style>
  .template-schedule {
    background-color: #000000;
  }
  .schedule {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 10px;
  }
  .column:nth-of-type(1), .column:nth-of-type(2) {
    border-right: 2px solid #ffffff;
  }
  .column h2 {
    color: var(--vn-red);
    font-size: 2.5rem;
    text-align: center;
  }
  .column:nth-of-type(2) h2 {
    color: var(--vn-green-dark);
  }
  .column h2 span {
    display: block;
  }
  .column p {
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
  }
  .column p span {
    color: var(--vn-yellow);
  }
  #shopify-section-hero {
    padding-top: 0;
  }
  .hero {
    background-color: #000000;
  }
  .upcase {
    text-transform: uppercase;
  }
  .upcase a {
    color: var(--vn-red);
  }
  @media (max-width: 1024px) {
    .hero--x-large {
      background-size: contain;
    }
  }
  @media (max-width: 768px) {
    .schedule {
      flex-wrap: wrap;
    }
    .column {
      width: 100%;
      flex: none;
    }
    .column:nth-of-type(1), .column:nth-of-type(2) {
      border-right: 0;
      border-bottom: 2px solid #ffffff;
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
  }
  @media (max-width: 500px) {
    #shopify-section-hero .hero-hero {
      height: 320px;
    }
  }
  @media (max-width: 320px) {
    #shopify-section-hero .hero-hero {
      height: 250px;
    }
  }
  @media (min-width: 1090px) {
    .hero--x-large {
      height: 1090px;
    }
  }
</style>

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1><img src="{{ 'schedule-of-events.png' | asset_img_url: '640x' }}" alt="schedule of events" /></h1>
      </div>

      <div class="schedule">
        <div class="column">
          <h2>FRIDAY <span>SEPT 3</span></h2>
          <p>FRIDAY NIGHT EVENTS WILL RETURN 2022</p>
        </div>

        <div class="column upcase">
          <h2>SATURDAY <span>SEPT 4</span></h2>
          <p>
            <span>7am -</span> GATES OPEN FOR PARTICIPANTS <br />
            <span>10am -</span> HOT ROD, CUSTOM & MOTORCYCLE SHOW BEGINS<br />
            <span>12pm -</span> JACKIE MENDEZ<br />
            <span>1pm -</span> PEDAL CAR CRUISE & CONTEST<br />
            <span>1:30pm -</span> <a href="https://the40acremule.com/" target="_blank">THE 40 ACRE MULE</a><br />
            <span>3pm -</span> <a href="https://www.thedeltabombers.com" target="_blank">THE DELTA BOMBERS</a><br />
            <span>4pm -</span> AWARDS<br />
            <span>10:00AM - 5:00PM</span> - Ventura Nationals Artshow (Located at the Fairgrounds inside San Miguel Hall)<br />
            <span>5pm -</span> END OF SHOW<br />
          </p>
        </div>

        <div class="column">
          <h2>SUNDAY <span>SEPT 5</span></h2>
          <p>
            <span>9am:</span> RELIABILITY RUN BEGINS (MEETUP AT PLAZA PARK IN DOWNTOWN)
          </p>
          <p>DETAILS ON ROUTE AND ENDING LOCATION TO COME</p>
        </div>
      </div>

      <div class="address text-center">
        <img src="{{ 'address.png' | asset_img_url: '640x' }}" alt="address" />
      </div>
    </div>
  </div>
</div>

{% section 'hero' %}